version: '3'
# https://github.com/moby/moby/issues/42275#issuecomment-1616442602
services:
  tedge:
    build:
      dockerfile: images/${IMAGE:-ubuntu}.dockerfile

    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    security_opt:
      - apparmor:unconfined
      - seccomp:unconfined
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    cgroup: private
    volumes:
      - /sys/fs/cgroup/freeipa.scope:/sys/fs/cgroup:rw
      - /lib/modules:/lib/modules:ro
